.price-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.price-summary p{
    flex:1;
}
.price-summary button{
    background: #f66666;
    color: #ffffff;
    padding: 16px;
    border: none;
    width: 70%;
}