.banner-card{
    display: flex;
    border-top: 9px solid #eaeaea;
    border-bottom: 9px solid #eaeaea;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.banner-card .banner-item{
    flex:1;
}
.banner-card .special{
    color:#02a787;
    font-weight: 600;
}
.fa-truck{
    margin-right: 3px;;
}